<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Fempowerment</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


		<!-- HTML5 shim and Respond.js for IE8 suport of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="styles/style.css">
		
		
	</head>
	<body>
		<div class="container ">		
			<div class="row">
			 	<div id="hero-banner" >	
			 		<nav class="navbar navbar-expand-md  ">
						<ul class="navbar-nav w-100 justify-content-center">
							<li class="nav-item">
								<a class="nav-link" href="#">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Products</a>
							</li>
							<li class="nav-item nav-logo-fem">							
								<a class="navbar-brand" href="#">
									Fempowerment
  								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">About Us</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">News</a>
							</li>
						</ul>
					</nav>		
					<img src="../home_bg.jpg" class="img-fluid w-100">

					<div class = "title"> <h1>A marketplace to support <br> women worldwide</h1></div>	

				</div>
			</div>	
			
			<div class="row">
				<div class="orange-separator-title">
					<h2>Featured Products</h2>
				</div>
			</div>	
				
			<div id="featured-products-container">
				<div class="top-content">
    				<div class="container-fluid">
						<div id="carousel-example" class="carousel slide"  >
				            <div class="carousel-inner row w-100 mx-auto" role="listbox">
				                <div class="carousel-item col-12 col-sm-6 col-md-6 col-lg-6 active">
				                	<div class = "product-wrapper">
				                		<div class="photo">
				                			<img src="../itsYourChoiceThumb.png" class="" width="100px" alt="img1">
				                		</div>
				                		<div class="description">
				                			<p>It's Your Choice Sticker</p>
				                			<button class ="btn btn-light buy-btn"> BUY NOW</button>
				                		</div>
				                	</div>
				                </div>
								
								<div class="carousel-item col-12 col-sm-6 col-md-6 col-lg-6 ">
				                	<div class = "product-wrapper">
				                		<div class="photo">
				                			<img src="../beYourOwnThumb.jpeg" class="" width="100px" alt="img1">
				                		</div>
				                		<div class="description">
				                			<p>Be your own hero T-Shirt</p>
				                			<button class ="btn btn-light buy-btn">BUY NOW</button>
				                		</div>
				                	</div>
				                </div>
				                
				                
				            </div>
				            <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
				                <img src="../slide_left.png" alt="">
				                <span class="sr-only">Previous</span>
				            </a>
				            <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
				                <img src="../slide_right.png" alt="">
				                <span class="sr-only">Next</span>
				            </a>
				        </div>
		   			 </div>
				</div>
			</div>
			<div class="orange-separator">
				
			</div>
			<div id="fempowerment-container" class="row">
        		<div class="description col-sm-8 col-md-8 col-lg-8" >
        			<h2>FEMPOWERMENT</h2>
        			<p>is a nonprofit rooted in the belief that there is strenght in solidarity. With the support of advocates such as yourself. we are able to bring much needed funding towards women's initiatives around the world</p>

        			<p style="font-weight: bold;">Join our effort in making positive impact</p>
        			<h3>FOR WOMEN WORLWIDE.</h3>
					<br><br>
        			<a class="learn-more" href="#">LEARN MORE ABOUT US ></a>
        			
        		</div>
        		<div class="photo col-sm-4 col-md-4 col-lg-4">
        			<img src="../girl_intro.jpg" class="" width="400" alt="img1">
        		</div>
			</div>
			<div class="orange-separator-title">
				
					<h2>Featured Articles</h2>
				
			</div>
			<div id="featured-articles-container">
				
				<div class="top-content">
    				<div class="container-fluid">
						<div id="carousel-articles" class="carousel slide"  >
				            <div class="carousel-inner row w-100 mx-auto" role="listbox">
				                <div class="carousel-item col-12 col-sm-3 col-md-3 col-lg-3 active">
				                	<div class = "article-wrapper-1">
				                		<h4>Fashion week goes feminist</h4>
				                		<p>Feminist and anti-trump messages were spilled onto the runways of this fashion Week season. What began as a timid support for Hillary Clinton...</p>
				                		<a href="#">Read more</a>
				                	</div>
				                </div>
								
								<div class="carousel-item col-12 col-sm-3 col-md-3 col-lg-3 ">
				                	<div class = "article-wrapper-2">
				                		<h4>The emancipation black women fight with music</h4>
				                		<p>Feminist and anti-trump messages were spilled onto the runways of this fashion Week season. What began as a timid support for Hillary Clinton...</p>
				                		<a href="#">Read more</a>
				                	</div>
				                </div>
				                <div class="carousel-item col-12 col-sm-3 col-md-3 col-lg-3 ">
				                	<div class = "article-wrapper-3">
				                		<h4>A feminist play to smash patriarchy</h4>
				                		<p>Feminist and anti-trump messages were spilled onto the runways of this fashion Week season. What began as a timid support for Hillary Clinton...</p>
				                		<a href="#">Read more</a>
				                	</div>
				                </div>
				                
				                
				            </div>
				            <a class="carousel-control-prev" href="#carousel-articles" role="button" data-slide="prev">
				                <img src="../slide_left.png" alt="">
				                <span class="sr-only">Previous</span>
				            </a>
				            <a class="carousel-control-next" href="#carousel-articles" role="button" data-slide="next">
				                <img src="../slide_right.png" alt="">
				                <span class="sr-only">Next</span>
				            </a>
				        </div>
		   			 </div>
				</div>


			</div>

			<footer>
				<p class ="hello"><span style ="font-weight: lighter;">Say hello.  </span><span style ="font-weight: 500;class="email">hello@fempowerment.org</span></p>
				<div class="row">
					<div class="col-sm-2 col-md-2 col-lg-2"></div>
					<div class="col-sm-2 col-md-2 col-lg-2">
						<div class="link">
							<a href="#">Privacy</a>
						</div>
					</div>
					<div class="col-sm-2 col-md-2 col-lg-2">
						<div class="link">
							<a href="#">Cancellation</a>
						</div>
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4">
						<div class="link">
							<a href="#">Terms and conditions</a>
						</div>
					</div>
					<div class="col-sm-2 col-md-2 col-lg-2"></div>
				</div>				
			</footer>
			
			
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

		<script src="scripts.js" ></script>

	</body>
</html>